player-connection-mode=Listen
player-connection-guid=672827213
player-connection-debug=0
player-connection-project-name=Assignment6_2
player-connection-ip=192.168.239.54
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9dbbd7642d5743f68b29f1a4b1aba43b
